:root {
}

.unity-base-field {
}

.unity-popup-field {
}

.unity-base-popup-field {
    flex-direction: column;
    min-width: 200px;
    flex-wrap: nowrap;
    aspect-ratio: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
    min-height: 70px;
}
